#npm
node_modules/

#log
*.log

#build
dist/*

#webpack
webpack_file-loader_files/


.DS_Store
.nodemonignore
.sass-cache/
npm-debug.log*
node_modules/
app/tests/coverage/
.bower-*/
.idea/

*.sublime-project
*.sublime-workspace
*.tar
.tags*

.vscode
.eslintrc
.eslintignore
.csscomb*
.scss-lint*
.jsconfig*
dist

#config
config/env/dev*.js